<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @session_attended.SessionID %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @session_attended.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">SessionID</div>
            <div class="itemValue"><%= @session_attended.SessionID %></div>
          </li>
      
          <li>
            <div class="itemLabel">SessionStartDate</div>
            <div class="itemValue"><%= @session_attended.SessionStartDate %></div>
          </li>
      
          <li>
            <div class="itemLabel">SessionEndDate</div>
            <div class="itemValue"><%= @session_attended.SessionEndDate %></div>
          </li>
      
          <li>
            <div class="itemLabel">SessionStartTime</div>
            <div class="itemValue"><%= @session_attended.SessionStartTime %></div>
          </li>
      
          <li>
            <div class="itemLabel">SessionPaid</div>
            <div class="itemValue"><%= @session_attended.SessionPaid %></div>
          </li>
      
    </ul>
  </div>

</div>
