<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @details.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @details.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="details[Set]" class="fieldLabel">Set</label>
            <input type="text" id="details[Set]" name="details[Set]" <%= placeholder("Set") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="details[Rep]" class="fieldLabel">Rep</label>
            <input type="text" id="details[Rep]" name="details[Rep]" <%= placeholder("Rep") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="details[Weight]" class="fieldLabel">Weight</label>
            <input type="text" id="details[Weight]" name="details[Weight]" <%= placeholder("Weight") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
